* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	position: relative;
	left: 0;
	top: 0;
	color: black;
	text-decoration: none;
}
a::after {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	top: calc(100% + 0.05em);
	height: 0.05em;
	width: 100%;
	background-color: black;
	transform: scale(0);
	transition: transform 0.4s;
}
a:hover::after {
	transform: scale(1);
}
ul, ol {
	list-style: none;
}
html {
	font-size: 16px;
	font-family: "Open Sans";
}
.table {
	display: table;
	table-layout:fixed;
	border: 2px solid gray;
	box-sizing: border-box;
	width: 100%;
	height: 100px;
	max-height: 100px;
}
.table-cell {
	display: table-cell;
	border: 2px solid blue;
	box-sizing: border-box;
	max-height: 100px;
	overflow: hidden;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	overflow: auto;
}
main {
	flex: 1 0 auto;
}
footer {

}
.container {
	min-height: 100%;
	max-width: 1150px;
	margin: auto;
	padding: 40px 15px;
	overflow: auto;
}
.fixed-block {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100px;
	min-height: 100px;
	border: 2px solid red;
}
.content {
	left: 10px;
}

.grid-auto-fit {
	display: inline-grid;
	grid-template-columns: repeat(auto-fit, minmax(1px, auto));
	gap: 20px;
}

.grid-auto-fill {
	display: inline-grid;
	grid-template-columns: repeat(auto-fill, minmax(min-content, auto));
	gap: 20px;
}
.block-with-border {
	border: 2px solid gray;
	min-width: 200px;
}
.block-with-border__w {
	min-width: 300px;
}
.footer-nav {
	display: grid;
	gap: 40px 80px;
	grid-template-columns: repeat(3, 1fr);
}
.footer-nav > section > h2 {
	font-size: 20px;
	margin-bottom: 20px;
}
.footer-nav > section > ul {
	display: flex;
	flex-wrap: wrap;
	margin: -10px;
}
.footer-nav > section > ul > li {
	margin: 10px;
}
@media (max-width: 768px) {
	.footer-nav {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 60px; 
	}
}
@media (max-width: 400px) {
	.footer-nav {
		grid-template-columns: 1fr;
	}
}